/* 全局样式 */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* 容器样式 */
.container {
    width: 400px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}
.container h1 {
    text-align: center;
    color: #333;
}

/* 表单样式 */
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.form-group input, .form-group textarea {
    resize: none; /* 禁止用户调整大小 */
    word-break: break-all; /* 允许单词中间换行 */
    width: 100%; 
    font-family: Arial, sans-serif; 
    font-size: 14px; 
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
}
.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
.form-group button:hover {
    background-color: #4cae4c;
}

/* 按钮容器样式 */
.button-container {
    display: flex;
    justify-content: space-between; /* 在容器中使按钮两端对齐 */
    margin-top: 20px;
}
.button-container input {
    margin-right: 10px; /* 给输入框加个右边距 */
}
.button-container button{
    display: none;
}